*{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
body{
   background-color: black; 
}
.form-contain{
    background-color: rgb(165, 165, 165);
    padding: 50px;
    width: 50%;
    box-shadow: 0 0 40px grey;
    margin-top: 20px;
    border-radius: 10px;
}
.form-contain label{
font-weight: bold;
font-size: 20px;
}
.btn-2{
    padding: 8px 15px;
    border: 1px solid rgb(58, 58, 58);
   border-radius: 10px;
   background-color: rgb(58, 58, 58);
   color: white;
   margin-top: 4px;
   transition: 1s;
}
.btn-2:hover{
  background-color: green;
  box-shadow: 0 0 40px rgb(94, 148, 94);
  
}
